@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
p,
button {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --invert: #ffffff;
  --ink: #333333;
  --dark: #000;
  --accent: #2eb5c0;
}

.page-center {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.hero {
  background-image: url("assets/HeroBackgroundmobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 56px 32px 144px;
  color: var(--invert);
}

.hero-content {
  display: grid;
  gap: 1.25rem;
}

.hero-content h1 {
  font-family: Lora;
  font-size: 1.5rem;
  font-weight: 700;
}

.hero-content p {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
}

.btn-group {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.btn {
  border: none;
  border-radius: 100px;
  padding: 12px;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  font-family: Montserrat;
  gap: 1rem;
}

.btn-primary {
  background-color: var(--invert);
  color: var(--dark);
}

.btn-secondary {
  background-color: transparent;
  color: var(--invert);
  /* border-width: 2px;
  border-style: solid;
  border-color: var(--invert); */
  border: 2px solid var(--invert);
}

.achivment {
  color: var(--ink);
  background-color: var(--invert);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  box-shadow: 16px 16px 40px 16px #7090b033;
  width: 75%;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: -4rem;
  font-family: Montserrat;
  max-width: 1280px;
}

.achivment-item {
  display: grid;
  gap: 12px;
}

.achivment h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.achivment p {
  font-size: 1rem;
  font-weight: 300;
}

.about {
  margin: 60px 56px;
  font-family: Montserrat;
}

.about-content {
  color: var(--ink);
  display: grid;
  gap: 1rem;
}

.about-content h2 {
  font-size: 1rem;
  font-weight: 300;
}

.about-content p {
  font-size: 0.75rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .dekstop {
    display: block;
  }

  .hero {
    background-image: url(assets/HeroBackgroundDesktop.png);
    padding: 134px 100px;
  }

  .hero-content {
    gap: 20px;
    width: 75%;
  }

  .hero-content h1 {
    font-size: 4.25rem;
  }

  .hero-content p {
    font-size: 1.25rem;
  }

  .btn {
    width: auto;
    /* padding: auto 1.25rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .btn-group {
    flex-direction: row;
    margin-top: 32px;
  }

  .achivment {
    grid-template-columns: repeat(4, 1fr);
    margin-top: -3.8rem;
    width: 60%;
  }

  .achivment h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }

  .achivment p {
    font-size: 1rem;
    font-weight: 300;
  }

  .about-content {
    display: flex;
    flex: 1;
    gap: 2.25rem;
    /* width: 75%; */
  }

  .about-content h2 {
    font-size: 1.25rem;
  }

  .about-content p {
    font-size: 1.5rem;
  }
}
